body{
    margin:0;
    background-color: #C8B7A6;
    font-family: Arial,Arial, Helvetica, sans-serif;
}
.all-content{
    display:block;
    margin:auto;
    width:53%;
}

.title{
    color:white;
    text-shadow: 2px 2px black;
    text-align: center;
    font-size: xx-large;
}
#bingo-board div, .user-board-divs{
    display:inline-block;
    border:solid;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
    width:50px;
    background-color: white;
    color: black;
    text-align: center;
    margin-top:10px;
    margin-right:10px;
    user-select: none;
}

.selectedNumber{
    background-color: #7D94B5 !important;
}
.button {
    background-color: #4CAF50; 
    border: solid;
    border-color: black;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  #number-of-user-boards{
    width:300px;
    height:35px;
  }